/* home section */
.home-content {
    padding-top: 70px;
}

.home-btns {
    width: 180px;
}

/* upload */
.upload-content {
    
    position: absolute;
    top: 80px;
}

.upload-btns {
    width: 180px;
}

